﻿@model kainosApp.Models.CapitalWithDates

@{
    ViewBag.Title = "Compare";
}
<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
</script>


<div class="row" style="margin-top: 15px">
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <div class="col-md-4">
            <span>Start Date</span>
            <input type="date" class="datepicker form-control" name="startDate" id="startDate" value="2015-11-11" />
        </div>
        <div class="col-md-4">
            <span>End Date</span>
            <input id="endDate" type="date" class="datepicker form-control" name="endDate" id="endDate" value="2016-01-01" />
        </div>
        <div class="col-md-3">
            <span>Interest Rate</span>
            <input type="number" class="form-control" name="percentage" value="0">
        </div>
        <div class="col-md-1" style="margin-top: 20px">

            <input type="submit" class="btn btn-default" name="SubmitDate" value="Go" />
        </div>
    }
</div>


<div id="myCompareChart"></div>

@section scripts {
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Scripts/Compare.js"></script>

}